= form_with(model: trip, class: 'max-w-lg mt-5') do |form|
  - if trip.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(trip.errors.count, "error")
        prohibited this trip from being saved:
      %ul
        - trip.errors.each do |error|
          %li= error.full_message
  .flex.flex-col
    = form.label :purpose, :class => "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
    = form.rich_text_area :purpose, :class => 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name'
  .flex.flex-col
    = form.label :places, :class => "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 mt-5"
    = form.select :places, places, :class => 'block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline'
  %div
    = form.submit class: 'mt-5 bg-indigo-500 hover:bg-indigo-400 text-white font-bold |
      py-2 px-4 border-b-4 border-indigo-700 hover:border-indigo-500 rounded          |
      cursor-pointer'                                                                 |
